.custom-button {
  width: 20em;
  position: relative;
  height: 3.5em;
  border: 3px ridge dodgerblue;
  outline: none;
  background-color: transparent;
  color: white;
  transition: background-color 1s, box-shadow 1s;
  border-radius: 0.3em;
  font-weight: bold;
  cursor: pointer;
  margin: 10px;
}

.custom-button::after,
.custom-button::before {
  content: "";
  position: absolute;
  width: 94%;
  height: 30%;
  background-color: black;
  transition: transform 0.5s;
}

.custom-button::after {
  top: -5px;
  left: 3%;
}

.custom-button::before {
  top: 80%;
  left: 3%;
}

.custom-button:not(:disabled):hover::before,
.custom-button:not(:disabled):hover::after {
  transform: scale(0);
}


.custom-button:not(:disabled):hover {
  box-shadow: inset 0 0 25px dodgerblue;
}

.take-photo-button,
.choose-file-button {
  border: 1px ridge white;
  font-weight: normal;
  height: 2.5em;
  width: 20em;
}

.take-photo-button:hover,
.choose-file-button:hover {
  box-shadow: inset 0 0 15px white!important;
}

.text-box {
  font-style: italic;
  height: 1.5em;
  width: 20em;
  margin: 5px;
  margin-left: 10px;
  border-radius: 0.3em;
  padding: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.separating-line {
  border: 0.25px solid white;
  width: 20em;
  margin: 10px;
  opacity: 0.5;
}

.display-text {
  width: 19em;
  max-width: 100%;
  overflow-wrap: break-word;
}

.dropdown-options {
  width: 100%;
  color: black;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 0.3em;
}

.payment-button {
  border: 3px ridge lawngreen;
}

.payment-button:not(:disabled):hover {
  box-shadow: inset 0 0 25px lawngreen;
}