/*-------------------------------------------------
    [ ### blog block ]
*/
.blog-item{
    .blog-thumb{
        height: 250px;
        border-radius: 15px 15px 0px 0px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.3s;
        }
    }
    .blog-content{
        padding-top: 20px;
        .title{
            margin-bottom: 20px;
            line-height: 1.8em;
            a{
                transition: all 0.3s;
                &:hover{
                    color: $base--color;
                }
            }
        }
    }
    &:hover{
        .blog-thumb{
            img{
                transform: scale(1.1) rotate(3deg);
            }
        }
    }
}
.blog-details-section{
    .blog-item{
        .blog-thumb{
            height: 500px;
        }
    }
}
.blog-list {
    margin-top: 30px;
    margin-bottom: 20px;
    li{
        position: relative;
        font-weight: 400;
        padding-left: 35px;
        padding-bottom: 15px;
        &::before{
            position: absolute;
            top: 2px;
            left: 0;
            content: "\f00c";
            font-family: "Line Awesome Free";
            width: 20px;
            height: 20px;
            line-height: 20px;
            background-color: $base--color;
            border-radius: 50%;
            font-size: 14px;
            color: $white;
            text-align: center;
            font-weight: 900;
        }
    }
}
.blog-tag-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-top: 1px dashed $border--base;
    padding-top: 20px;
    margin-top: 30px;
    span{
        font-weight: 600;
        margin-right: 10px;
    }
    .blog-footer-tag{
        li{
            display: inline-block;
            background: $base--color;
            padding: 3px 10px;
            font-weight: 500;
            font-size: 14px;
            border-radius: 5px;
        }
        li+li{
            margin-left: 10px;
        }
    }
}
.blog-comment-area{
    margin-top: 30px;
    .title{
        margin-bottom: 0 !important;
    }
}
.blog-sidebar{
    position: sticky;
    top: 0;
}
.widget-box {
    background-color: $section--bg;
    padding: 30px;
    border-radius: 5px;
    @media only screen and (max-width: 991px) {
        padding: 20px;
    }
    .widget-title{
        margin-bottom: 20px;
        position: relative;
        z-index: 2;
        &::before{
            position: absolute;
            content: "";
            top: 0;
            left: -30px;
            width: 3px;
            height: 20px;
            background-color: $base--color;
            @media only screen and (max-width: 991px) {
                left: -20px;
            }
        }
    }
}
.category-widget-box{
    .category-list{
        margin-bottom: -15px;
        li{
            padding: 7px 0;
            border-radius: 5px;
            margin-bottom: 10px;
            font-size: 16px;
            color: $white;
            font-weight: 500;
            a{
                display: block;
                transition: all 0.5s;
                &:hover{
                    color: $base--color;
                }
            }
            span{
                float: right;
            }
        }
    }
}
.popular-widget-box {
  margin-bottom: -20px;
}
.single-popular-item {
  margin-bottom: 30px;
    .popular-item-thumb{
        width: 70px;
        height: 70px;
        border-radius: 5px;
        overflow: hidden;
        a{
            display: block;
            height: 100%;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .popular-item-content{
        width: calc(100% - 90px);
        padding-left: 20px;
        .title{
            margin-bottom: 0;
            a{
                transition: all 0.5s;
                &:hover{
                    color: $base--color;
                }
            }
        }
        span{
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 5px;
        }
    }
}
.tag-widget-box{
    .tag-list {
        margin: -5px;
        li{
            display: inline-block;
            border: 1px solid $border--base;
            color: $white;
            font-size: 14px;
            border-radius: 5px;
            font-weight: 500;
            padding: 3px 15px;
            margin: 5px;
            transition: all 0.5s;
            &:hover{
                border: 1px solid $base--color;
                color: $base--color;
            }
        }
    }
}