.billCards.billCards {
  left: 0;
  top: 0;
}
.icon {
  width: 100%;
  height: 100%;
}
.rectangle2563.rectangle2563 {
  background-image:/* webpackIgnore: true */ url('../assets/rectangle2563.png');
}
.billCards2.billCards2 {
  left: 0;
  top: 0;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.rectangle25632.rectangle25632 {
  background-image:/* webpackIgnore: true */ url('../assets/rectangle2563.png');
}
.root {
  position: relative;
  width: 225px; 
  height: 298px; 
  flex-direction: column;
  align-items: flex-start;
}

.custom-button {
  width: 20em;
  position: relative;
  height: 3.5em;
  border: 3px ridge dodgerblue;
  outline: none;
  background-color: transparent;
  color: white;
  transition: background-color 1s, box-shadow 1s;
  border-radius: 0.3em;
  font-weight: bold;
  cursor: pointer;
  margin: 10px;
}

.custom-button::after,
.custom-button::before {
  content: "";
  position: absolute;
  width: 94%;
  height: 30%;
  background-color: black;
  transition: transform 0.5s;
}

.custom-button::after {
  top: -5px;
  left: 3%;
}

.custom-button::before {
  top: 80%;
  left: 3%;
}

.custom-button:not(:disabled):hover::before,
.custom-button:not(:disabled):hover::after {
  transform: scale(0);
}


.custom-button:not(:disabled):hover {
  box-shadow: inset 0 0 25px dodgerblue;
}

.custom-white-button {
  border: 1px ridge white;
  font-weight: normal;
  height: 2.5em;
  width: 20em;
}

.custom-white-button:hover {
  box-shadow: inset 0 0 15px white!important;
}