@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/abrilfatface/v23/zOL64pLDlL1D99S8g8PtiKchq-dmjcDidBc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.dUEIn3Days {
  color: #fff;
  font-size: 10px;
  line-height: 13px;
  font-family: Abril Fatface, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.root {
  position: absolute;
  left: 16px;
  top: 322px;
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 16px 20px;
  background-color: #fff;
}
.patternHolder {
  position: absolute;
  right: 0;
  top: 0;
  width: 190px;
  height: 251px;
}
.icon {
  width: 100%;
  height: 100%;
}
.frame11209 {
  position: relative;
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 72px;
}
.frame11208 {
  height: min-content;
  align-self: stretch;
  justify-content: space-between;
  align-items: flex-start;
}
.frame11204 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6px;
}
.hubspot {
  color: #0d0d0d;
  font-size: 14px;
  line-height: 18px;
  font-family: Abril Fatface, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.2px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame11205 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
}
.iNV352456 {
  color: #8a8a8a;
  font-size: 10px;
  line-height: 14px;
  font-family: Abril Fatface, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.4px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.nET15 {
  color: #8a8a8a;
  font-size: 10px;
  line-height: 14px;
  font-family: Abril Fatface, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.4px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle2563 {
  width: 48px;
  height: 48px;
  outline: solid 0.5px #d2d2d2;
  outline-offset: 0px;
  background-image:/* webpackIgnore: true */ url('../../assets/rectangle2563.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.frame11216 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.cTADueWarning {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
._1541 {
  opacity: 0.9;
  color: #0d0d0d;
  font-size: 16px;
  line-height: 20px;
  font-family: Abril Fatface, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.2px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.paymentCTA {
  width: min-content;
  height: min-content;
  align-items: flex-start;
}
.frame11210 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  padding: 10px 20px;
  background-color: #0d0d0d;
  cursor: pointer;
}
.frame11215 {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}
.frame11212 {
  width: 117px;
  height: min-content;
  align-items: center;
  gap: 10px;
}
.makePayment {
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  font-family: Abril Fatface, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.4px;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.frame11211 {
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.earn152Points {
  color: #3bffad;
  font-size: 8px;
  font-family: Abril Fatface, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame11214 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 14px 16px;
  outline: solid 1px #d2d2d2;
  outline-offset: -1px;
}
.rectangle2564 {
  z-index: 0;
  width: 4px;
  height: 4px;
  background-color: #0d0d0d;
}
.rectangle2565 {
  z-index: 0;
  width: 4px;
  height: 4px;
  background-color: #0d0d0d;
}
.rectangle2566 {
  z-index: 0;
  width: 4px;
  height: 4px;
  background-color: #0d0d0d;
}
.vShadow {
  position: absolute;
  right: -2px;
  top: 0px;
  bottom: -2px;
  width: 2px;
  height: 300px;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.hShadow {
  position: absolute;
  left: 0;
  right: -2px;
  bottom: -2px;
  width: 227px;
  height: 2px;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
